app/code/core/*
app/design/install/*
app/design/frontend/base/*
app/design/frontend/default/*
app/etc/config.xml
app/etc/local.xml
app/etc/local.xml.additional
app/etc/local.xml.template
media/*
downloader/*
errors/*
includes/*
js/*
lib/*
nbproject/*
pkginfo/*
shell/*
skin/install/*
skin/frontend/base/*
skin/frontend/default/*
temp/*
var/*
.htaccess
.htaccess.sample
.project
cron.php
cron.sh
favicon.ico
get.php
index.php
index.php.sample
install.php
LICENSE.html
LICENSE.txt
LICENSE_AFL.txt
mage
php.ini.sample
RELEASE_NOTES.txt
check.php
api.php
